body{
    background-color: rgb(13, 13, 14);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    flex-wrap: wrap-reverse;   
    flex-direction: column;   
}

.flex-item{
    flex: 1 0 15rem;
}

.box.yellow{
    flex:0 1;
}

.box{
    background-color: #4547c7;
    border: 2px solid #272727;
    min-height: 10rem;
    min-width: 10rem;
}

.box.red{
    background-color: red;
}

.box.yellow{
    background-color: yellow;
    height: 20rem;
}

.box.blue{
    background-color: blue;
    height: 15rem;
}