body {
    background-color: #3a3a3b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: blue;
    border: 2px solid 272727;
    height: 10rem;
    width: 10rem;
}

.flex-container {
    display: flex;
/* Propriedades baseadas na direção
    flex-direction: row;
    justifycontent: center;
    align-itens: center;
    gap:4 rem;
    min-height: 80vh;
    */
}
    
.flex-item {
      width: 10rem;
 /*  flex-grow - crescimento de um elemento
    flex-shrink - habilidade de um flex-item de encolher
    flex-basis - tamanho base
*/   
}

.box.yellow {
    background-color: #f9ff58;
    height: 20rem;
    flex-shrink: 1;
    flex-basis: 1;
}

.box.red {
    background-color: red;
    flex-shrink: 0;
    flex-basis: 30rem;

}

.box.blue {
    background-color: #5255eb;
    height: 15rem;
    flex-grow: 1 0 2rem;
}
