body{
    background-color: #3a3a3b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
}

.box{
    background-color: blue;
    border: 2px solid #272727;
    height: 10rem;
    width: 10rem;
}

.box.yellow{
    background-color: #f9ff58;
    height: 20rem;
    color: black;
}

.box.red{
    background-color: red;
}

.box.blue{
    background-color: #5255eb;
}